@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@600;700&family=Montserrat&display=swap');

:root{
  --violet:#5430B5;
  --large-text-color:#A24BDD;
  --back-ground:#D0E6F3;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
 a{
  color: var(--violet);
  text-decoration: none;
}
/*
h1{
  font-family: 'Anek Latin', sans-serif;
} */

body{
  background-color: #F1FEC6;
}